@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  list-style: none;
  box-sizing: border-box; }

html,
body {
  font-family: "Dancing Script", cursive;
  width: 100%;
  height: 100%;
  /*Important pour regler la hauteur*/
  background-color: beige;
  color: navajowhite; }

#container {
  margin: auto; }

.menu-btn {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 2;
  display: none; }

/* Header **/
header {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: darkred; }
  header #branding {
    margin: 10px; }
  header nav {
    align-self: flex-end;
    margin: 7px; }
    header nav li {
      display: inline;
      padding: 0 5px; }
      header nav li a:link {
        color: navajowhite;
        text-decoration: none; }
      header nav li a:focus,
      header nav li a:hover {
        color: #ffde00; }
      header nav li a:visited {
        color: lightsalmon; }

/* le corps du site */
#sections {
  /* flexbox sera utiliser pour les container */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  height: auto;
  overflow: hidden;
  margin: 1px auto; }

#showcase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

ul.slides {
  overflow: hidden;
  clear: both; }

/* initialiser les 3 sinon l'image n'est pas stabil */
ul.slides,
ul.slides li,
ul.slides img {
  width: 1000px;
  height: 650px; }

.boutons li {
  position: relative;
  z-index: 102;
  /* les boutons toujours visibles */
  bottom: 30px;
  float: left;
  margin: 0 5px; }

ul.boutons a {
  display: block;
  /* position: relative; */
  border: 4px solid transparent;
  font: bold 12px/25px Arial, sans-sarif;
  color: #515151;
  text-decoration: none;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.25), inset 1px 1px 0px rgba(0, 0, 0, 0.15); }

/* les boutons individuellement */
.slider-button {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: white; }

/* important pour les animations !! */
ul.slides li {
  position: absolute;
  z-index: 50; }

ul.slides li:target {
  /*la cible d'1 element <a> */
  z-index: 100;
  /* prioritÚ elevÚ => il s'impose !! */
  animation-name: slide;
  animation-duration: 2s;
  animation-iteration-count: 1; }

/* Animation pour les photos */
@keyframes slide {
  0% {
    left: -960px; }
  100% {
    left: 0; } }
#boxes {
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px; }
  #boxes .box {
    float: left;
    text-align: center;
    width: 100%;
    height: 100%;
    color: darkblue;
    margin: 0 auto;
    margin-bottom: 0 0; }
    #boxes .box img {
      width: 100%;
      height: 250px; }

footer {
  width: 100%;
  max-width: 1200px;
  height: 70px;
  background: darkred;
  text-align: center;
  /*   centrer les elements du footer */ }
  footer p {
    position: relative;
    top: 35%; }

/* Media Queries */
@media (max-width: 700px) {
  .menu-btn {
    display: block; }

  .menu-btn:hover {
    opacity: 0.5; }

  header ul.right-menu {
    margin-right: 50px; }

  header ul.main-menu {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #f2f2f2;
    width: 50%;
    height: 100%;
    border-right: #ccc 1px solid;
    opacity: 0.9;
    padding: 30px;
    transform: translateX(-500px);
    transition: transform 0.5s ease-in-out;
    z-index: 40; }

  header ul.main-menu li {
    padding: 10px;
    border-bottom: #ccc solid 1px;
    font-size: 14px;
    display: block; }

  header ul.main-menu li:last-child {
    border-bottom: 0; }

  header ul.main-menu.show {
    transform: translateX(-20px); }

  #boxes {
    width: 100%;
    grid-template-columns: repeat(2, 1fr); }
    #boxes .box {
      width: 100%; } }
@media (max-width: 460px) {
  #boxes {
    width: 100%;
    grid-template-columns: 1fr; }
    #boxes .box {
      width: 100%; } }
/*
@import "Utils/mixins";


// @import "Layout/nav";



@import "Components/button";





@import "Pages/services";

 */

/*# sourceMappingURL=style.css.map */
